<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">
    <div class="jumbotron">
        This webpage allows to configure this VISP Runtime instance.
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body text-center">
            <a class="btn btn-info" href="https://visp-streaming.github.io" target="_blank">Documentation</a>
            <a class="btn btn-info" th:href="${rabbitmqMonitoring}" target="_blank">RabbitMQ Monitoring</a>
        </div>
    </div>

</th:block>

</body>
</html>