<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<script type="text/javascript" th:src="@{/js/viz.js}"></script>

<head/>

<body>
<th:block layout:fragment="content">

    <div class="panel panel-default">
        <div th:if="${updateResult == null}" class="panel-heading">Update was not successful!</div>
        <div th:if="${updateResult == null}" class="panel-body">
            <div class="alert alert-danger">
                <strong>Error</strong> Could not process updates - please check the logs.
            </div>
        </div>
        <div th:if="${updateResult != null}" class="panel-heading">Update Successful!</div>
        <div th:if="${updateResult != null}" class="panel-body">
            <p>The following updates were executed:</p>
            <div th:each="update : ${updateResult.updatesPerformed}">
                <div class="alert"
                     th:classappend="${(#strings.contains(update.action,'ADD_OPERATOR') ? 'alert-success' : '') +
                     (#strings.contains(update.action,'UPDATE_OPERATOR') ? ' alert-info' : '') +
                     (#strings.contains(update.action,'REMOVE_OPERATOR') ? ' alert-danger' : '')}">
                    <strong th:text="${update.action}"></strong>
                    <span>  </span>
                    <span th:text="${update.affectedOperatorId}"></span><span> at host </span>
                    <span th:text="${update.affectedHost}"></span>
                </div>
            </div>
            <h3>
                <!--The following topology is now in place:-->
            </h3>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var dotContent = [[${dotContent}]];
                console.log(dotContent);

                /*]]>*/
            </script>
            <div id="graphvizImage"></div>

        </div>
    </div>

</th:block>

<script type="text/javascript">
    //image = Viz("digraph { a -> b; }", { engine: "neato",  format: "png-image-element" });
    //document.body.appendChild(image);
</script>

</body>
</html>