<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<script type="text/javascript" th:src="@{/js/viz.js}"></script>

<head/>

<body>
<th:block layout:fragment="content">

    <div class="panel panel-default">
        <div th:if="${action != null}" class="panel-heading">Clean successful!</div>
        <div th:if="${action != null}" class="panel-body">
            <div class="alert alert-success">
                <strong>Success!</strong> <p>Topology is now empty.</p>
                <p>Number of unsuccessful clear requests: <span th:text="${clearfails}"></span> (see logs for details)</p>
            </div>

        </div>
        <div th:if="${updateResult == null AND action == null}" class="panel-heading">Update was not successful!</div>
        <div th:if="${updateResult == null AND action == null}" class="panel-body">
            <div class="alert alert-danger">
                <strong>Error</strong> Could not process updates - please check the logs.
            </div>
        </div>
        <div th:if="${updateResult != null}" class="panel-heading">Update Results:</div>
        <div th:if="${updateResult != null}" class="panel-body">
            <div th:if="${updateResult.errorMessage == ''}">
                <p th:if="${updateResult.updatesPerformed.size() == 0}">The topology does not need to be changed.</p>
                <p th:if="${updateResult.updatesPerformed.size() != 0}">The following updates were executed:</p>
                <div th:each="update : ${updateResult.updatesPerformed}">
                    <div class="alert"
                         th:classappend="${(#strings.contains(update.action,'ADD_OPERATOR') ? 'alert-success' : '') +
                     (#strings.contains(update.action,'UPDATE_OPERATOR') ? ' alert-info' : '') +
                     (#strings.contains(update.action,'REMOVE_OPERATOR') ? ' alert-danger' : '')}">
                        <strong th:text="${update.action}"></strong>
                        <span>  </span>
                        <span th:text="${update.affectedOperatorId}"></span><span> at host </span>
                        <span th:text="${update.affectedHost}"></span>
                    </div>
                </div>
                <h3>The following topology is now in place: </h3>
                <div id="topologyFigure"></div>
            </div>
            <div th:if="${updateResult.errorMessage != ''}">
                <div class="alert alert-danger">
                    <strong>Error</strong> <span th:text="${updateResult.errorMessage}"></span>.
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var dotContent = [[${dotContent}]];
        if(dotContent) {
            image = Viz(dotContent, { format: "png-image-element" });
            document.getElementById("topologyFigure").appendChild(image);
        }

        /*]]>*/
    </script>
</th:block>

</body>
</html>