<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head/>

<body>
<th:block layout:fragment="content">

    <div class="panel panel-default">
        <div class="panel-heading">Apply new topology</div>
        <div class="panel-body">
            <form action="/uploadTopologyGUI" method="POST" enctype="multipart/form-data">
                <span><input type="file" name="file" class="form-control" /></span>
                <span><button type="submit" class="btn btn-primary">Upload</button></span>
            </form>
        </div>
    </div>

</th:block>

</body>
</html>