<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div class="message" th:if="${message != null}">
        <div class="panel panel-info">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Configuration</div>
        <div class="panel-body">
            <form method="post" th:action="@{/configurationSaved}" th:object="${configurationForm}" class="form-horizontal">

                <div class="form-group">
                    <label for="runtimeip" class="col-sm-2 control-label">Runtime IP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="runtimeip" name="runtimeip" th:field="*{runtimeip}" th:value="${configurationForm.getRuntimeip()}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label for="infrastructureip" class="col-sm-2 control-label">Infrastrcuture IP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="infrastructureip" name="infrastructureip" th:field="*{infrastructureip}" th:value="${configurationForm.getInfrastructureip()}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label for="openstackhostimageid" class="col-sm-2 control-label">Openstack Host Image ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="openstackhostimageid" name="openstackhostimageid" th:field="*{openstackhostimageid}" th:value="${configurationForm.getOpenstackhostimageid()}"  />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Processingimageid" class="col-sm-2 control-label">Processing Image ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Processingimageid" name="Processingimageid" th:field="*{processingimageid}" th:value="${configurationForm.getProcessingimageid()}"  />
                    </div>
                </div>


                <div class="form-buttons">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

</body>
</html>
