<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">Console Output
        </div>
        <div class="panel-body">
            <div>
                <textarea cols="300" wrap="off" rows="20" class="form-control" id="result" th:text="${executionLogOutput}">
                </textarea>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>