<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div class="message" th:if="${message != null}">
        <div class="panel panel-info">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <span th:text="${message}"></span>
            </div>
        </div>
   </div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body text-center">
            <a class="btn btn-success" th:href="${'/pooledvms/addOpenStackVM'}">Add new OpenStack VM</a>
            <a class="btn btn-danger" th:href="${'/pooledvms/killall'}">Remove all Hosts</a>
        </div>
    </div>

    <th:block th:unless="${#arrays.length(hosts) == 0}">

        <div class="panel panel-default">
            <div class="panel-heading">Hosts
            </div>
            <div class="panel-body">
                <table class="table table-hover nohead">
                    <tbody>
                        <tr>
                            <th class="vertmiddle col-md-3">ID</th>
                            <th class="vertmiddle col-md-3">Pool</th>
                            <th class="vertmiddle col-md-3">URL</th>
                            <th class="vertmiddle col-md-2">Flavor</th>
                            <th class="vertmiddle col-md-1"><div class="center-block">Actions</div></th>
                        </tr>
                        <tr th:each="host : ${hosts}">
                            <td class="vertmiddle col-md-3" th:text="${host.name}"></td>
                            <td class="vertmiddle col-md-3" th:text="${host.poolname}"></td>
                            <td class="vertmiddle col-md-3" th:text="${host.url}"
                                th:if="${host.getAvailable() == true}"></td>
                            <td class="vertmiddle col-md-3 alert alert-danger" th:text="${host.url}"
                                th:if="${host.getAvailable() == false}"></td>
                            <td class="vertmiddle col-md-2" th:text="${host.flavour}"></td>
                            <td class="vertmiddle col-md-1">
                                <div class="pull-right">
                                    <a class="btn btn-danger" th:href="${'/pooledvms/kill/' + host.id}">Kill</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>

    <div class="emptystate" th:if="${#arrays.length(hosts) == 0}">
        <div class="emptystate-text">Currently there are no hosts available.</div>
    </div>

</th:block>

</body>
</html>
