<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div th:if="${message != null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>

    <div class="card card-default">
        <div class="card-body text-center">
            <a class="btn btn-success" th:href="${'/pooledvms/addOpenStackVM'}">Add new OpenStack VM</a>
            <a class="btn btn-success" th:href="${'/pooledvms/addCustomHost'}">Add new Custom Host</a>
            <a class="btn btn-danger" th:href="${'/pooledvms/killall'}">Remove all Hosts</a>
        </div>
    </div>

    <div class="form-text"></div>


    <th:block th:unless="${#arrays.length(hosts) == 0}">

        <div class="card card-default">
            <div class="card-header">Running Hosts</div>
            <div class="card-body text-center">


                <table class="table table-hover nohead">
                    <tbody>
                        <tr>
                            <th class="vertmiddle col-md-3">ID</th>
                            <th class="vertmiddle col-md-3">Type</th>
                            <th class="vertmiddle col-md-3">Pool</th>
                            <th class="vertmiddle col-md-3">URL</th>
                            <th class="vertmiddle col-md-2">Flavor</th>
                            <th class="vertmiddle col-md-1"><div class="center-block">Actions</div></th>
                        </tr>
                        <tr th:each="host : ${hosts}">
                            <td class="vertmiddle col-md-3" th:text="${host.name}"></td>
                            <td class="vertmiddle col-md-3" th:text="${host.type}"></td>
                            <td class="vertmiddle col-md-3" th:text="${host.poolname}"></td>
                            <td class="vertmiddle col-md-3" th:text="${host.url}"
                                th:if="${host.getAvailable() == true}"></td>
                            <td class="vertmiddle col-md-3 alert alert-danger" th:text="${host.url}"
                                th:if="${host.getAvailable() == false}"></td>
                            <td class="vertmiddle col-md-2" th:text="${host.flavour}"></td>
                            <td class="vertmiddle col-md-1">
                                <div class="pull-right">
                                    <a class="btn btn-danger" th:href="${'/pooledvms/kill/' + host.id}">Kill</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>

    <div class="card card-default"  th:if="${#arrays.length(hosts) == 0}">
        <div class="card-body text-center">
            Currently there are no hosts available.
        </div>
    </div>

</th:block>

</body>
</html>
