<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div class="message" th:if="${message != null}">
        <div class="panel panel-warning">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <span th:text="${message}"></span>
            </div>
        </div>
   </div>

    <div class="panel panel-default">
        <div class="panel-heading">Utility Operations</div>
        <div class="panel-body">
            <a class="btn btn-info" th:href="${'/util/reinitialize'}">Reinitialize Topology</a>
        </div>
    </div>

</th:block>

</body>
</html>
