<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head></head>

<body>
<th:block layout:fragment="content">

    <div class="message" th:if="${message != null}">
        <div class="card card-info">
            <div class="card-body">
                <span th:text="${message}"></span>
            </div>
        </div>
   </div>

    <div class="card card-default">
        <div class="card-title">Utility Operations</div>
        <div class="card-body">
            <span><a class="btn btn-danger" th:href="${'/util/clear'}">Clear Topology</a></span>

        </div>
    </div>

</th:block>

</body>
</html>
